<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="Simple HTML Template Builder" />

<!-- facebook meta tags -->
<!-- <meta property="og:url" content="" /> -->
<meta property="og:title" content="<%= page.title ? page.title + ' | NoIE' : 'NoIE | Simple HTML Template Builder' %>" />
<meta property="og:description" content="Simple HTML Template Builder" />
<!-- facebook meta tags -->

<title><%= page.title ? page.title + ' | NoIE' : 'NoIE | Simple HTML Template Builder' %></title>

<!-- Scripts -->
<script src="<%= site.basePath %>/web/vendor/bundle.min.js"></script>

<!-- Styles -->
<link href="<%= site.basePath %>/web/vendor/bundle.min.css" rel="stylesheet" />
<link href="<%= site.basePath %>/web/css/app.css" rel="stylesheet" />

<!-- ui kit -->
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
