<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body class="<%= page.bodyClass %>">
    <div class="uk-container">
      <!-- header start -->
      <%- include('../partials/header') %>
      <!-- header end -->

      <div class="body-grid">
        <div class="body-grid__sidebar">
          <!-- sidebar start -->
          <%- include('../partials/sidebar') %>
          <!-- sidebar end -->
        </div>

        <div class="body-grid__main">
          <main><%- body %></main>
        </div>
      </div>

      <%- include('../partials/footer') %>
    </div>

    <!--  -->
    <% if (isProd) { %>
    <script src="<%= site.basePath %>/web/js/app.min.js"></script>
    <% } else { %>
    <script src="<%= site.basePath %>/web/js/app.js"></script>
    <% } %>
  </body>
</html>
